* {
	margin: 0;
	padding: 0;
	background-color: #363636;
}

.sidebarContainer {
	position: fixed;
	min-height: 100vh;
	border-style: solid;
	border-width: 1px;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	border-color: #e0e0e0;
}

.homeContainer {
	width: calc(100vw - 200px);
	left: 200px;
	position: relative;
}

.inputSearch {
	background-color: #5b5b5b;
	border: none;
	width: calc(100vw - 200px);
	height: 40px;
}

.iconSearch {
	position: absolute;
	width: 1%;
	background-color: #5b5b5b;
	top: 15px;
	left: 15px;
	z-index: 1;
}

.iconsContainer {
	display: flex;
	justify-content: end;
	align-items: end;
	height: calc(100vh - 40px);
	padding-right: 25px;
	padding-bottom: 15px;
}

.icons {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 15px;
}

.quicks {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #2f80ed;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.stroke {
	width: 30%;
	background-color: #2f80ed;
	cursor: pointer;
}

.tools {
	position: fixed;
	right: 85px;
	bottom: 22px;
	display: flex;
	flex-direction: row-reverse;
	gap: 15px;
}

.tools-text {
	color: #e0e0e0;
	font-size: 12px;
}

.toolArea {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.tool {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #e0e0e0;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}

.toolIcon {
	width: 50%;
	background-color: #e0e0e0;
	cursor: pointer;
}

.inbox-active {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #8785ff;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
}

.inbox-active-shadow {
	position: fixed;
	right: 30px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #4f4f4f;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.inboxIcon-active {
	width: 50%;
	background-color: #8785ff;
	cursor: pointer;
}

.task-active {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #f8b76b;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 2;
}

.task-active-shadow {
	position: fixed;
	right: 30px;
	bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: #4f4f4f;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 1;
}

.taskIcon-active {
	width: 50%;
	background-color: #f8b76b;
	cursor: pointer;
}

.modalContainer {
	background-color: #ffffff;
	position: fixed;
	right: 20px;
	bottom: 80px;
	width: 50%;
	height: 70%;
	border-radius: 5px;
	border-style: solid;
	border-color: #bdbdbd;
	border-width: 1px;
	padding: 24px 32px;
}

.task-data {
	width: 100%;
	max-height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
}

.bg-white {
	background-color: #ffffff;
}

.my-task {
	background-color: #ffffff;
	width: 113px;
	border-radius: 5px;
	border-style: solid;
	border-color: #bdbdbd;
	border-width: 1px;
	font-size: 14px;
	color: #4f4f4f;
	margin-left: 100px;
}

.new-task {
	background-color: #2f80ed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100px;
	color: #ffffff;
	border-radius: 5px;
}

.taskIcon {
	background-color: #ffffff;
	width: 35%;
}

.end {
	display: flex;
	justify-content: end;
}

.task-heading-start {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: start;
	background-color: #ffffff;
	height: 40px;
	font-size: 14px;
	color: #4f4f4f;
}

.task-heading-center {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-align: start;
	background-color: #ffffff;
	height: 40px;
	font-size: 14px;
	color: #4f4f4f;
}

.task-title {
	font-weight: bolder;
}

.task-title-done {
	font-weight: bolder;
	color: #828282;
}

.task-day-left {
	color: #eb5757;
}

.task-tool {
	display: flex;
	justify-content: flex-start;
	background-color: #ffffff;
	margin-bottom: 22px;
}

.task-tool-date-icon {
	width: 50%;
	background-color: #ffffff;
	cursor: pointer;
	padding-top: 10px;
}

.task-tool-edit-icon {
	width: 50%;
	background-color: #ffffff;
	cursor: pointer;
	padding-top: 3px;
}

.task-description {
	font-size: 14px;
	color: #4f4f4f;
}
